@import "tailwindcss";

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lato);
  --font-heading: var(--font-bricolage-grotesque);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bricolage-grotesque);
}


.templateContainer {
  @apply max-w-[1400px] mx-auto px-4  md:px-12 lg:px-14 py-6 md:py-10 lg:py-12;
}
